<div class="body">
  <!-- List of all animals -->
  <div class="list-container">
      <div class="card2">
      <h1>List of all animals</h1>
    </div>
    <div *ngFor="let animal of animals" class="card2">
      <h3>{{ animal.name }}</h3>
      <p>Species: {{ animal.species }}</p>
      <p>Likes: {{ animal.foods.likes.join(', ') }}</p>
      <p>Dislikes: {{ animal.foods.dislikes.join(', ') }}</p>
    </div>
  </div>

  <!-- List of five animals -->
  <div class="list-container">
<app-five-animals [animals]="fiveAnimals"></app-five-animals>
  </div>
</div>